#!/usr/bin/env bash

sudo -u ec2-user -i <<EOS

pip install dimod==0.9.13
pip install networkx==2.6.3
pip install dwave-ocean-sdk
pip install amazon-braket-sdk
pip install amazon-braket-ocean-plugin
pip install biopandas

EOS

exit 0
