node_modules
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.env
.DS_Store
docs/site/
.vscode/settings.json
*.pickle

source/test-reports
source/coverage
buildspec.yml
deployment
.pytest_cache
__pycache__
.ipynb_checkpoints
.idea

nohup.out

# json
molecular-unfolding-hybrid-jobs.json
source/src/notebook/healthcare-and-life-sciences/**/*.json