#!/usr/bin/env bash

sudo -u ec2-user -i <<EOS
python3 --version

mkdir qcenv
cd qcenv
python3 -m venv qcenv
source qcenv/bin/activate

pip3 install numpy==1.22.2
pip3 install boto3==1.21.30
pip3 install dimod==0.10.12
pip3 install networkx==2.7.1
pip3 install dwave-ocean-sdk==4.4.0
pip3 install amazon-braket-sdk==1.18.0
pip3 install amazon-braket-ocean-plugin==1.0.7
pip3 install biopandas==0.3.0
pip3 install py3Dmol==1.8.0
pip3 install ipywidgets==7.7.0


pip3 install jupyter ipykernel

python3 -m ipykernel install --user --name=qcenv

aws s3 cp {{&s3_code_path}} /home/ec2-user/SageMaker/code.zip

cd /home/ec2-user/SageMaker/
unzip code.zip -d ./
rm code.zip

EOS

exit 0
