AWSTemplateFormatVersion: 2010-09-09
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Molecular Unfolding - Notebook
        Parameters:
          - DeployNotebook

      - Label:
          default: Molecular Unfolding - Batch Evaluation
        Parameters:
          - DeployBatchEvaluation

      - Label:
          default: Molecular Unfolding - Visualization
        Parameters:
          - DeployVisualization
          - QuickSightUser
          - QuickSightRoleName


    ParameterLabels:
      DeployNotebook:
        default: Deploy Notebook

      DeployBatchEvaluation:
        default: Deploy Batch Evaluation

      DeployVisualization:
        default: Deploy Visualization

      QuickSightUser:
        default: QuickSight User

      QuickSightRoleName:
        default: QuickSight Role Name


Parameters:

  DeployNotebook:
    Description: Notebook. Choose yes to activate.
    Default: "yes"
    Type: String
    AllowedValues:
      - "yes"
      - "no"
  
  DeployBatchEvaluation:
    Description: Batch Evaluation. Choose yes to activate.
    Default: "yes"
    Type: String
    AllowedValues:
      - "yes"
      - "no"

  DeployVisualization:
    Description: Visualization in Amazon QuickSight Dashboard. Choose yes to activate. If choose yes, please perform the prerequisite setup of your QuickSight, refer to https://awslabs.github.io/quantum-computing-exploration-for-drug-discovery-on-aws/en/deployment/#prerequisites 
    Default: "no"
    Type: String
    AllowedValues:
      - "yes"
      - "no"

  QuickSightUser:
    Description: Amazon QuickSight User, find user name from https://us-east-1.quicksight.aws.amazon.com/sn/admin
    Default: ""
    Type: String

  QuickSightRoleName:
    Description: Amazon QuickSight IAM Service Role Name
    Default: ""
    Type: String


Conditions:
  ConditionDeployNotebook: !Equals 
      - !Ref DeployNotebook
      - "yes"

  ConditionDeployBatchEvaluation: !Equals 
      - !Ref DeployBatchEvaluation
      - "yes"

  ConditionDeployVisualization: !Equals 
      - !Ref DeployVisualization
      - "yes"
  