#!/usr/bin/env bash

sudo -u ec2-user -i <<EOS
python3 --version

mkdir qc-hcls
cd qc-hcls
python3 -m venv qc-hcls
source qc-hcls/bin/activate

pip3 install numpy==1.22.2
pip3 install boto3==1.26.8
pip3 install dimod==0.10.12
pip3 install dwave-system==1.15.0
pip3 install dwave-neal==0.5.9
pip3 install networkx==2.6.3
pip3 install amazon-braket-sdk==1.31.0
pip3 install amazon-braket-ocean-plugin==1.0.7
pip3 install Cython==0.29.32
pip3 install biopandas==0.4.1
pip3 install py3Dmol==1.8.0
pip3 install ipywidgets==7.7.0
pip3 install altair==4.2.0
pip3 install setproctitle==1.3.2

pip3 install jupyter ipykernel

python3 -m ipykernel install --user --name=qc-hcls

aws s3 cp {{&s3_code_path}} /home/ec2-user/SageMaker/code.zip

cd /home/ec2-user/SageMaker/
unzip code.zip -d ./
rm code.zip

cd code
echo -n 'bucketName={{&default_bucket}}' >> .default-setting
cd ..

EOS

exit 0
