#!/usr/bin/env bash

sudo -u ec2-user -i <<EOS
python3 --version

conda create -y -n qc_hcls_molecular_unfolding_qubo python=3.8

conda config --add channels bioconda

conda config --set channel_priority strict

conda activate qc_hcls_molecular_unfolding_qubo

pip3 install ipykernel

pip3 install numpy==1.22.3
pip3 install boto3==1.26.8
pip3 install dimod==0.10.12
pip3 install dwave-system==1.15.0
pip3 install dwave-neal==0.5.9
pip3 install networkx==2.6.3
pip3 install amazon-braket-sdk==1.31.0
pip3 install amazon-braket-ocean-plugin==1.0.7
pip3 install Cython==0.29.32
pip3 install biopandas==0.4.1
pip3 install py3Dmol==1.8.0
pip3 install ipywidgets==7.7.0
pip3 install altair==4.2.0
pip3 install setproctitle==1.3.2
pip3 install matplotlib==3.5.3

conda create -y -n qc_hcls_rna_folding_qubo python=3.8

conda config --add channels bioconda

conda config --set channel_priority strict

conda activate qc_hcls_rna_folding_qubo

pip3 install ipykernel

conda install viennarna=2.5.1 -y

pip3 install numpy==1.22.3
pip3 install boto3==1.26.8
pip3 install dimod==0.10.12
pip3 install dwave-system==1.15.0
pip3 install dwave-neal==0.5.9
pip3 install networkx==2.6.3
pip3 install amazon-braket-sdk==1.31.0
pip3 install amazon-braket-ocean-plugin==1.0.7
pip3 install Cython==0.29.32
pip3 install py3Dmol==1.8.0
pip3 install ipywidgets==7.7.0
pip3 install altair==4.2.0
pip3 install setproctitle==1.3.2
pip3 install matplotlib==3.5.3

pip3 install git+https://github.com/ViennaRNA/forgi

conda create -y -n qc_hcls_python37 python=3.7.2

conda activate qc_hcls_python37

pip3 install ipykernel

conda create -y -n qc_hcls_python38 python=3.8

conda activate qc_hcls_python38

pip3 install ipykernel

aws s3 cp {{&s3_code_path}} /home/ec2-user/SageMaker/code.zip

cd /home/ec2-user/SageMaker/
unzip code.zip -d ./
rm code.zip

cd code
echo -n 'bucketName={{&default_bucket}}' >> .default-setting
cd ..

conda deactivate

EOS

exit 0
