name: pyTest for Python code
'on':
  pull_request: {}
  workflow_dispatch: {}
jobs:
  py-test:
    runs-on: ubuntu-latest
    env:
      CI: 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: '${{ github.event.pull_request.head.ref }}'
          repository: '${{ github.event.pull_request.head.repo.full_name }}'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          cd source/src/cdk
          pip3 install -U pytest
          pip3 install moto==3.0.5

      - name: test python code
        run: |
          cd source/src/cdk
          pytest
